<!DOCTYPE html
<html lang="pt">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Minha lista de tarefa</title>
    <link rel="stylesheet" href="{% static 'lista/lista.css' %}">
</head>
<body>
    <h1>Gerenciador de tarefa web</h1>
    <a href="{% url 'adicionar_tarefas'%}"><strong>+ Adicionar Tarefa</strong></a>
    <hr>

    {% for tarefa in minhas_tarefas %}
        <div class="tarefa {% if tarefa.concluida %} concluida{% endif %}">
            <h2><a href="{% url 'detalhe_tarefa' tarefa.id %}">{{tarefa.titulo}}</a></h2>
            <p>{{tarefa.descricao}}</p>
            <small>Criada em: {{tarefa.data_criacao}}</small>
        </div>
    {% empty %}
        <p>Nenhuma tarefa cadastrada ainda. Adicione algumas no <a href="/admin/">admin</a></p>
    {% endfor %}
</body>
</html>
